* {
    font-family: 'Share Tech Mono', monospace;
}

#board, .boardInfo {
    max-width: 500px;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#start, .boardInfo {
    font-size: 25px;
}

#gameOver {
    display: none;
}

.boardInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start {
    background-color: rgb(193, 18, 18);
    border:none;
    color: white;
}

#scoreBoard {
    display: inline-flex
}

.square {
    aspect-ratio: 1;
}

.emptySquare {
    background-color: rgb(60, 100, 195);
}

.snakeSquare {
    background-color: rgb(6, 219, 6);
}

.foodSquare {
    background-color: rgb(153, 12, 12);
}